<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yc.fresh.mapper.IAdminInfoMapper">
	<insert id="add" parameterType="AdminInfo">
		insert into adminInfo values(0, #{aname}, password(#{pwd}), #{tel})
	</insert>

	<select id="login" parameterType="AdminInfo" resultType="AdminInfo">
		select * from adminInfo where (aname = #{aname} or tel = #{aname}) and pwd = password(#{pwd})
	</select>
	
	<select id="findAll" resultType = "AdminInfo">
		select * from adminInfo order by aid
	</select>
	
	<update id="updatPwd" parameterType="int">
		update adminInfo set pwd = right(tel, 6) where aid = #{_parameter}
	</update>
</mapper>
